main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.black {
  background-color: black;
  color: white;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}